body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f4ed;
  color: #1e1e1e;
}

.header {
  background-color: #d2b48c;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin:auto;
}

#menu, .retour {
  font-size: 20px;
}

#menu{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.depli{
  position :relative;
  list-style-type: none;
}

#menu .depli ul{
  display: none;
  position: absolute;
  min-width: 50px;
  z-index: 10;
  list-style-type: none;
}

#menu .depli:hover ul {
    display: block;
    background-color:#d2b48c;
    border: 2px solid;
    padding: 10px;
}



.presentation{
  background:  #1e2b3b;
  padding: 10px;
  max-width: 100%;
  margin: auto;
  border-radius: 0;
  color: white;
}
.container {
  background: linear-gradient(to bottom,  #1e2b3b, #1e2b3b 5%, #f2d4a0 7%);
  padding: 10px;
  max-width: 100%;
  margin: auto;
  border-radius: 0 0 20px 20px;
  color:#1e1e1e;
  margin-bottom: 0;
  max-height: 100%;
}

.accueil {
  background: #1e2b3b;
  max-width: 100%;
  margin: auto;
  padding: 10px;
  color: white;
  font-family: Arial, sans-serif;
  border-radius: 0 0 20px 20px;
  padding-bottom: 40px;
  margin-bottom: 0;
  height:100%;
  overflow-y: auto;
}

.acceuil::-webkit-scrollbar {
  width: 6px;
}

.cover {
  width: 20%;
  align-items: center;
  margin-left:40%;  
}

.titre-livre {
  text-align: center;
  margin-bottom: 0;
}

.onglets {
  background: #f2d4a0;
  display: flex;
  justify-content: space-around;
  margin-top: 0; 
  border-radius: 5px;
  overflow: hidden;
}

.onglets button {
  flex: 1;
  background: none;
  border: none;
  padding: 10px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.onglets .active {
  background: #e1c293;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f2d4a0;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 10px;
}

.icon {
  font-size: 20px;
  background-color: #faefdc;
 padding: 5px;
  border-radius: 100%;
}

.add {
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-weight: bold;
  color:#1e1e1e;
  text-decoration: underline;
}

.resume {
  background: white;
  color: black;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

#toggle {
  font-weight: bold;
  color: #007bff;
  cursor: pointer;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  background: #f2d4a0;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.tags span {
  background: white;
  color: black;
  padding: 3px 8px;
  border-radius: 15px;
  font-size: 12px;
}

.reco-section {
  background: #f2d4a0;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  color: black;

}

.reco-row {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  margin-top: 5px;
  overflow-x: auto;
}

#recomm {
  width: 100px;
}

.reco-row::-webkit-scrollbar {
  height: 6px;
}


.magasin-header {
  background: #f2d4a0;
  padding: 10px;
  border-radius: 10px;
  color: black;
}

.sell-btn {
  background: yellow;
  color:#1e1e1e;
  border: none;
  padding: 8px 12px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  margin: 10px 0;
}

.offres {
  background: #fff7e6;
  border-radius: 10px;
  padding: 10px;
}

.offre {
  background: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.2s;
  color: black;
}

.offre:hover {
  background: #f0f0f0;
}

.carousel {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 10px 0;
}

.carousel::-webkit-scrollbar {
  height: 6px;
}

.review {
  background: white;
  color: black;
  padding: 10px;
  min-width: 200px;
  max-width: 200px;
  border-radius: 10px;
  flex-shrink: 0;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.commentaire {
  background-color:#faefdc;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  
}

.commentaire textarea {
  resize: none;
  width: 100%;
  height: 60px;
  border-radius: 8px;
  padding: 5px;
  border: 1px solid #ccc;
}

.commentaire button {
  align-self: flex-end;
  background: #1e2b3b;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.etat-options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0;
}

.etat-options label {
  background: white;
  color: black;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  cursor: pointer;
}

.etat-options input {
  margin-right: 5px;
}

input[type="text"] {
  width: 90%;
  padding: 5px;
  margin: 5px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  background: #1e2b3b;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}



.search-bar {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
}

.search {
  max-width: 500px;
}

.selection {
  margin-bottom: 20px;
}

.selection h3 {
  margin-bottom: 5px;
  font-size: 16px;
  color: white;
}

.livres {
  display: flex;
  align-items: center;
  background: #d2b48c;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
  gap: 10px;
}

.livre {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  color: black;
}

.cover-sim {
  width: 100px;
  height: 140px;
  background: #f9f4ed;
  border: 2px solid black;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name{
  max-width: 90px;
  color:#1e1e1e;
  
}
.livre p{
  display: none;
  position: absolute;
  min-width: 50px;
  z-index: 10;
  list-style-type: none;
}

.livre:hover p{
  display: block;
  background-color:#d2b48c;
  border: 2px solid;
  padding: 5px;
  margin-top: 140px;
  width: auto;
}





